@import "vars/all";

div#webApp {
	background-image: url($webapp_background);
	background-attachment: fixed;
	background-size : cover;
	height: $web_app_height;
	width: 100%;
	position: fixed;

	@import "structure/all";
}
