/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-04 11:11:01
**************************************************************/

@import "vars/all";

div#backgroundWebApp {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	background-image: url($webapp_background);
	background-attachment: fixed;
	-webkit-background-size: 100% 100%; 
	-moz-background-size: 100% 100%; 
	-o-background-size: 100% 100%; 
	background-size: 100% 100%; 
}

div#webApp {
	min-height: $web_app_height;
	width: 100%;

	&.locked {
		overflow: hidden;
		width : 100%;
		height: 100%;
	}

	div.center {
		width : 58px;
		height: 20px;
		position: absolute;
		left : 50%;
		top : 50%;
		margin-left : -28px;
		margin-top : -10px;
	}

	@import "structure/all";
}
