/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-10-09 20:30:11
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-10-29 14:05:13
**************************************************************/

div.centerButton {
	width: 100%;
	text-align: center;
}

button.secondary {
	background-color: darken($secondary_color, 5);
	border : 1px solid darken($secondary_color, 15);
	color: darken($white_color, 0);
	font-weight: bold;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 1px;
	outline : none;
	transition : 0.2s;

	&:hover {
		background-color: $secondary_color;
	}

	&:active {
		background-color: darken($secondary_color, 7);
	}
}