header#header {
	@include background-opacity($primary_color, 0.6);
	height : 60px;
	width : 100%;
	position: fixed;

	div#breadcrum {
		margin-left : 20px;
		display: inline-block;

		i.fa {
			margin-right: 20px;
			line-height: 60px;
			font-size : 35px;
			cursor: pointer;
		}

		div#breadcrum_link {
			display : inline-block;
			line-height: 60px;
			vertical-align: top;

			span {
				font-size : 18px;
				vertical-align: top;
				font-weight: 300;
			}
		}
	}
}