/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-11-09 14:54:26
**************************************************************/

header#header {
	background-color : lighten($primary_color, 5);
	height : $line_height_logo;
	width : $right_content_width;
	z-index: 999;
	position: fixed;
	@include animation('fadeIn 1s linear both');
	opacity: 0;
	color : $white_color;

	div#breadcrum {
		display: inline-block;

		i.fa {
			text-align: center;
			line-height: $line_height_logo;
			font-size : 35px;
			cursor: pointer;
			width: 60px;
			margin-right: 5px;
		}

		div#breadcrum_link {
			display : inline-block;
			line-height: $line_height_logo;
			vertical-align: top;
			cursor: pointer;

			span {
				height: $line_height_logo;
				line-height: $line_height_logo;
				display: inline-block;
				margin-right: 5px;
				font-size : 16px;
				vertical-align: top;
				font-weight: 100;
				cursor : pointer;
			}
		}

	}
	div#header-right {
		display: inline-block;
		height: $line_height_logo;
		position: fixed;
		top: 0px;
		right : 0px;

		div#header-right-icons {
			display : inline-block;
			line-height: $line_height_logo + 2px;
			vertical-align: top;
			margin-right : 10px;
			transition: 0.3s;

			i {
				text-shadow: none;
				color : rgba(white, 0.4);
				font-size: 22px;
				cursor: pointer;
				height: $line_height_logo;
				vertical-align: top;
				line-height: $line_height_logo;
				width: $line_height_logo - 30;
				margin: 0px 5px;
				text-align: center;

				&:hover {
					color : rgba(white, 0.7);
				}
			}
		}

		div.user {
			height: $line_height_logo;
			display: inline-block;

			div.miniature {
				margin-right : 30px;
				margin-top: ($line_height_logo - 40px - 4px) / 2;
			}
		}
	}
}