/**************************************************************
*     ####         #                               #          * Jobuzzle - Copyright All rights reserved
*     ####         #                               #          *
*       ##  #####  ######  #     # ####### ####### #  #####   * @Author: revers
*       ## #     # #     # #     #      #       #  # #     #  *
*       ## #     # #     # #     #     #       #   # #     #  * @Date:   2015-08-08 11:12:48
*       ## #     # #     # #     #    #       #    # #     #  *
*       ## #     # #     # #     #   #       #     # ######   * @Last Modified by:   revers
*  ####### #     # #     # #     #  #       #      # #        *
*  ######   #####   ######  #####  ####### ####### # #######  * @Last Modified time: 2015-08-08 14:30:10
**************************************************************/

div#logo_left {
	padding-top : $margin_top_logo;

	div#logo {
		background-image: url($logo_icon_left);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 100%;
		width : $icon_left_width;
		height: $icon_left_height;
		margin-left : ($left_content_width - $icon_left_width) / 2;
		box-sizing: border-box;
	}

	h1 {
		color: white;
		line-height: $line_height_logo;
		font-size: 48px;
		width: 100%;
		text-align: center;
		margin : 0px 0px $margin_bottom_logo 0px;
		font-weight: 400;

		&:after {
			display: block;
			background-color: rgba(255, 255, 255, 0.1);
			width: $left_content_width - 40px;
			margin-left: 20px;
			height: 1px;
			content: '';
		}
	}
}